
@{
    ViewData["Title"] = "AdminDashBoard";
}

<div class="list-group">

    <a href="#" class="btn btn-info">Product List</a>
    <a href="#" class="btn btn-info">Your Info</a>
    <a href="#" class="btn  btn-warning">Add Product</a>
   
</div>