
@{
    ViewData["Title"] = "CreateProduct";
}

<form asp-action="CreateProduct" method="post">

   <input type="text" placeholder="Product Name..." name="Pname" />
   <input type="text" placeholder="Description..." name="Desc" />
   <input type="number" placeholder="0.0" name="Price" />
  
</form>
